<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<%- include('../layouts/navbar.ejs') -%>
    <link rel="stylesheet" href="footer.css">

    <div class="container mt-5">
        <h1 class="text-center">Who We Are</h1>
        <p class="text-center lead">WatchVerse is a trusted online destination for watch enthusiasts who seek
            high-quality timepieces, impeccable craftsmanship, and outstanding customer service.</p>

        <h2 class="mt-4">Our Mission</h2>
        <p>Our mission is to offer a diverse range of watches that caters to various tastes, styles, and occasions,
            ensuring that every customer finds the perfect timekeeping companion for their unique journey.</p>

        <h2 class="mt-4">Why Choose Us</h2>
        <div class="row">
            <div class="col-lg-7">
                <ul>
                    <li><strong>Extensive Selection of Branded Watches:</strong> We curate a vast collection of watches,
                        including renowned brands and exclusive designs, giving you an array of options to express your
                        personal style.</li>
                    <li><strong>Authenticity Guaranteed:</strong> We understand the importance of authenticity when it
                        comes to luxury watches, and each timepiece we offer is thoroughly vetted to provide you with
                        genuine and exceptional pieces.</li>
                    <li><strong>Exceptional Customer Service:</strong> Our dedicated team of watch experts is passionate
                        about delivering exceptional customer service, guiding you through your watch-buying journey
                        with expert advice and personalized assistance.</li>
                    <li><strong>Competitive Pricing:</strong> At WatchVerse, we believe that luxury doesn't have to come
                        with an exorbitant price tag. We strive to provide competitive pricing, making luxury timepieces
                        accessible to a wider audience.</li>
                    <li><strong>Secure and Convenient Shopping:</strong> Our website provides a secure and user-friendly
                        shopping experience, ensuring that your transactions are safe and your shopping journey is
                        convenient and enjoyable.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <img src="https://cdn.anscommerce.com/catalog/brandstore/johnson/17_7_20/Sale.jpg" alt=""
                    style="max-width: 100%;">
            </div>

        </div>

        <h2 class="mt-4">Join Us in the WatchVerse Experience</h2>
        <p>Whether you're a seasoned watch connoisseur or a novice exploring the world of luxury timepieces, we welcome
            you to join us in the WatchVerse experience. Discover watches that speak to your personality and accompany
            you on your life's remarkable journey.</p>

        <p class="text-center mt-5"><em>Discover the perfect watch that complements your individuality and accompanies
                you on your life's journey with elegance and precision.</em></p>
    </div>
    <%- include('../layouts/user-dashboard-footer.ejs') -%>