<%- include('../layouts/user-dashboard.ejs') -%>

    <div class="col-12 col-md-9">
        <section class="container1">
            <h1 class="">Change Password</h1>
            <div class="d-flex justify-content-center align-items-center m-auto">

                <form action="/changePassword" method="post" class="form">
                    <div class="input-box">
                        <label>Current Password</label>
                        <input type="password" placeholder="Enter your current password" name="curr" value="" required>
                    </div>
                    <div class="input-box">
                        <label>New Password</label>
                        <input type="password" placeholder="Enter new password" name="password" id="password"
                            onkeyup="validatePassword()" required>
                    </div>
                    <div class="input-box">
                        <label>Confirm New Password</label>
                        <input type="password" placeholder="Confirm new password" name="confirmPassword"
                            id="confirmPassword" onkeyup="validatePassword()" required>
                    </div>
                    <div class="form-group col-md-3 mt-3 mb-5">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" onclick="return validateForm()">Submit</button>
                    <span id="submit-error" style="color: rgb(255, 0, 0);"></span>
                    <% if (typeof message !=='undefined' ) { %>
                        <p class="text-danger">
                            <%= message %>
                                <p>
                                    <% } %>
                </form>
            </div>
        </section>
    </div>

    <%- include('../layouts/user-dashboard-footer.ejs') -%>

        <script>
            var submitError = document.getElementById("submit-error");

            function validatePassword() {
                var password = document.getElementById("password").value.trim();
                var confirmPassword = document.getElementById("confirmPassword").value.trim();

                if (password.length === 0 || confirmPassword.length === 0) {
                    submitError.innerHTML = "";
                    return true;
                }

                if (password !== confirmPassword) {
                    submitError.style.display = "block";
                    submitError.innerHTML = "Passwords do not match";
                    return false;
                } else {
                    submitError.style.display = "none";
                    return true;
                }
            }

            function validateForm() {
                if (!validatePassword()) {
                    submitError.style.display = "block";
                    submitError.innerHTML = "Please fill in all fields";
                    setTimeout(function () {
                        submitError.style.display = "none";
                    }, 3000);
                    return false;
                }
            }
        </script>