<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WatchVerse</title>
  <link rel="icon" href="/website/logo.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      background-color: #f8f9fa;
    }

    .form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    }

    .input-box {
      margin-bottom: 15px;
    }

    .input-box label {
      font-weight: 500;
    }
  </style>

</head>

<body>

  <div class="container mt-5">
    <form action="/newPassword?id=<%=id%>" method="post" class="form">
      <div class="input-box">
        <label for="password">New Password</label>
        <input type="password" class="form-control" placeholder="Enter new password" name="password" id="password"
          required>
      </div>
      <div class="input-box">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" placeholder="Confirm new password" name="confirmPassword"
          id="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <span id="submit-error" style="color: rgb(255, 0, 0);"></span>
    </form>
  </div>

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"
    integrity="sha384-ZosMFL/lFT/p8yI+qA+o0lvvhMEylvoz2RO9bc1/7LlByhY5LdKUw3pwYyqkFstD"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>