<%- include('../layouts/header.ejs') -%>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchVerse</title>
    <link rel="icon" href="/website/logo.png">
    <link rel="stylesheet" href="style.css">
    <script src="/javascript/user/register.js"></script>
  </head>
<style>
  @media (max-width: 768px) {
    .design img {
      width: 0;
    }
    .h2{
      font-size: x-large;
    }
  }
</style>
  <body>
    <section class="box">
      <div class="design">
        <div>
          <img src="/website/find_your_watch_600_v2_en.jpg" alt="" width="350rem">
        </div>
      </div>
      <div class="form">
        <h2>User Registration</h2>
        <% if (typeof message !=='undefined' ) { %>
          <h4>
            <%= message %>
          </h4>
          <% } %>
            <form action="/register" method="post" onsubmit="return validateForm();">
              <input type="name" class="input-field" placeholder="Username" name="name" id="contact-name"
                onkeyup="validateName()" />
              <span id="name" style="color: rgb(255, 0, 0);"></span>
              <input type="" class="input-field" placeholder="Mobile" name="mobile" id="contact-number"
                onkeyup="validateMobile()" />
              <span id="mobile" style="color: rgb(255, 0, 0);"></span>
              <input type="email" class="input-field" placeholder="Email" name="email" id="text1"
                onkeyup="validateEmail()" />
              <span id="email" style="color: rgb(255, 0, 0);"></span>

              <input type="password" class="input-field" placeholder="Password" name="password" id="password"
                onkeyup="validatePassword()" />
              <input type="password" class="input-field" placeholder="Confirm Password" name="confirmPassword"
                id="confirmPassword" onkeyup="validatePassword()" />

              <input type="text" class="input-field" placeholder="Referral code" name="referral">
              <input type="submit" class="btn" value="REGISTER">
              <span id="submit-error" style="color: rgb(255, 0, 0);"></span>
            </form>
            <p>Already a user ? <a href="/login">Login here</a></p>
            <% if (typeof message !=='undefined' ) { %>
              <p id="success-message" style="color: green">
                <%= message %>
              </p>
              <% } %>
                <% if (typeof emailError !=='undefined' ) { %>
                  <p id="" style="color: rgb(255, 0, 0)">
                    <%= emailError %>
                  </p>
                  <% } %>
      </div>
    </section>

  </body>

  </html>
